<%= link_to "Cadastro", new_request_path %>
<% if user_signed_in? %>
<% @requests.order(:created_at).each do |request| %>
  <p><%= request.first_name %></p>
  <%= link_to 'Edit', edit_request_path(request) %>
<% end %>
<% end %>